<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="SourceXMLFolder" value="\\edeubreapp004\Ladis-IExport\XMLS\"/>
      <add key="SourceTXTDetailFile" value="PB2XML.TXT"/>
      <add key="TargetZIPFileName" value="AnalysisReports_K#####.zip"/>
      <add key="CurrentCustomer" value="18970"/>
    </appSettings>
</configuration>